# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store

# Certificates & secrets
*.p12
*.mobileprovision

# SPM
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/
Podfile.lock
